* {
    box-sizing: border-box;
}

body {
    background: url('../images/contemporary_china.png');
    font-size: 18px;
    line-height: 34px;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #777;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1, 
h2, 
h3, 
p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
}

h1 {
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
}

h2, h3 {
    font-size: 22px;
}

#masthead {
    background: #fff;
    margin: 0 0 30px;
    z-index: 99;
    color: #fff;
    overflow: auto;
    border-bottom: 2px solid #ccc;
    position: fixed;
    width: 100%;
}

#logo {
    width: 250px;
    height: 90px;
    background: #4aaaa5;
    float: left;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    border-left: 1px solid #efefef;
    padding-left: 15px;
    line-height: 18px;
}

nav a:first-child {
    border-left: 0 none;
}

#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
    margin-bottom: 20%;
}

.main-section {
    background: #fff;
    padding 30px;
    margin 0 0 40px 0;
    width: 100%;
    max-width: 960px;
    float: left;
    border: 1px solid #ddd;
}

/*portfolio page*/
.row {
    width: 274px;
    overflow: auto;
    position: relative;
    float: left;
    margin: 20px 0 25px 25px;
}

.row img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}
 .row:nth-child(even) {
     margin-right: 40px;
 }


.row h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom:  0;
}

.bio-image {
    width: 200px;
    height: auto;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
}

footer {
    background: #666;
    color: #fff;
    padding: 30px;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 12px;
    text-align: center;
}

/*contact page */

#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
}

label,
input [type=text],
input [type=email],
textarea {
    dispaly: block;
    width: 100%;
}

input [type=text],
input [type=email],
textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
}

textarea {
    height: 200px;
}

input[type=submit] {
    padding 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
}

@media screen and (max-width: 980px) {
    #main-container {
        width: 70%;
        float: left;
        margin-left: 40px;
        margin-bottom: 30%;
    }
    .main-section {
        padding: 20px;
    }
    #logo {
        float: left;
        margin-left: 40px;
    }
    a {
        margin-left: 60px;
    }
}

@media screen and (max-width: 768px) {
    #main-container {
        width: 90%;
    }
    #logo, h1 {
        font-size: 25px;
    }
    p {
        font-size: 16px;
    }
    nav a {
        margin-right: 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) {
    #main-container {
        width: 90%;
        margin-right: 40px;
        margin-top: 60px;
        float: left;
    }
    #logo {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    nav {
        padding-right: 25%;
        text-align: center;
        padding-bottom: 10px;
    }
    .bio-image {
        width: 100%;    
    }   

    img {
        width: auto;
        
    }
}